<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>


<router-outlet></router-outlet>


<!-- credits -->
<div class="text-center mt-4">
  <p>
    <a href="https://github.com/rdbhagat999/role-based-authorization"
      target="_top">Angular Role Based Authorization Tutorial with Example</a>
  </p>
  <p>
    <a href="https://github.com/rdbhagat999" target="_blank">Ramandeep Bhagat</a>
  </p>
</div>
